*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html, 
body {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;

}
#nav{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}

#part2{
    display: flex;
    gap: 50px;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    white-space: nowrap;
}
