*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: #fff;
}
a{
    text-decoration: none;
}
nav{
    height: 80px;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

}
nav a{
    color: #fff;
    font-size: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
nav a:hover{
    color: rgb(77, 3, 25);
    transition: .4s;
    
}

#about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 80px); /* Adjust for nav height */
    /* border: 2px solid white; */
}
.descrip{
    /* border: 2px solid white; */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descrip-1{
    /* border: 2px solid white; */
    height: 300px ;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic{
    height: 250px ;
    width: 250px;
    border-radius: 100%;
    padding-left: 200px;

}
.descrip-2{
    /* border: 2px solid white; */
    padding: 0px 50px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;

}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}
