*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: #fff;
}
a{
    text-decoration: none;
}
nav{
    height: 80px;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

}
nav a{
    color: #fff;
    font-size: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 0.4s;
    /* padding: 5px 21px; */
    /* border-radius: 9px; */
    /* border: 2px solid #fff; */
}
nav a:hover{
    color: rgb(77, 3, 25);
    transition: .4s;
    
}
.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 80px); /* Adjust for nav height */
    /* border: 2px solid white; */
    
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;

}
.box-outer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.box-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 800px;
    border: 2px solid crimson;
    border-radius: 20px;
    background-color: #00000000;
    gap: 50px;

}
.button{
    height: 100px;
    width: 100px;
    border: 2px solid crimson;
    border-radius: 10px;
}
p{
    margin-top: 50px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#white{
    background-color: #fff;
}
#yellow{
    background-color: #fae902;
}
#green{
    background-color: #bbff00;
}
#blue{
    background-color: #030179;
}
#black{
    background-color: #000;
}