*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a{
    text-decoration: none;
}
nav{
    height: 80px;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

}
nav a{
    color: #fff;
    font-size: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #7e0208; */
    /* padding: 5px 21px; */
    /* border-radius: 9px; */
    /* border: 2px solid #fff; */
}
nav a:hover{
    color: rgb(77, 3, 25);
    transition: .4s;
    
}
.main-box{
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 80px);
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}
.buttons{
    /* border: 2px solid white; */
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}
button{
    height: 50px;
    width: 130px;
    font-size: 20px;
    border-radius: 100px;
    border: none;
    background-color:gold;
    border: 2px solid #fff;
    transition: .2s ease-in-out;

}
button:hover{
    background-color: crimson;
    color: #fff;
    cursor: pointer;
    border: none;
}
