*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: #fff;
   
}
a{
    text-decoration: none;
}
nav{
    height: 80px;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

}
nav a{
    color: #fff;
    font-size: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 0.4s;

}
nav a:hover{
    color: rgb(77, 3, 25);
    transition: .4s;
}
.outer-clockBox{
    height: calc(100vh - 80px); /* Adjust for nav height */
    /* margin-top: 80px; */
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.clock-box{
    height: 250px;
    width: 600px;
    /* border: 2px solid crimson; */
    border-radius: 50px;
    background-color: #111;
    box-shadow: 0 0 20px crimson, 0 0 40px crimson, 0 0 60px crimson;
    /* box-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff; */

    /* box-shadow: -10px 10px 20px crimson; */
    border-radius: 10px;
    /* padding: 20px; */
    color: white;
    /* text-align: center; */

}
.time{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
    height:180px;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.date{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
